* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(106, 146, 144), rgb(1, 25, 29));
    color:rgb(231, 225, 225);
}

nav {
    background-color:black;
    padding: 15px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}
nav h1{
    margin:0;
    padding-right: 450px;

}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    transition:background 0.3s, color 0.3s;
}

nav ul li a:hover {
    background: #555;
    color: #ffcc00;
    border-radius:0 5px;
}

.content-section {
    max-height: 0;
    margin-top: 50px;
    padding-left: 200px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.8s ease;
}

.content-section.active {
    max-height: 1000px;
    opacity: 1;
}

@keyframes fade {
    from {
    opacity: 0;
    transform: translateY(10px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
